importFrom("utils", "data", "methods")
importFrom("stats", "mad", "median", "na.omit", "pnorm", "qnorm", "var",
	"p.adjust", "sd")
import("S4Vectors")
import("methods")
exportClasses(CellMapperList)
exportMethods(show)
export(CMprep)
export(CMsearch)
export(CellMapperList)
export(ReplicateManuscript)
exportPattern(ExampleQueryGenes)
exportPattern(PositiveControlGenes)
exportPattern(NegativeControlGenes)

